*.pdf
*.png
*.jpg
*.jpeg
*.ckpt
*.pth

**/__pycache__/
**/Unrolling_comparison/
**/results/
**/DATA/
**/datasets/
**/Figures/
**/DIFFPIR/
**/DEQ_weights/

**/main_deblurring.py
**/main_MRI.py
**/main_rician_noise.py
**/main_inpainting.py
**/retrained.pth
**/GSDRUNet.ckpt

**/plot_figures.py
**/plot_graph_mse_PSNR.py
**/sum_times.py
**/theta_graph.py

**/download_BSDS500.py
**/extract_data.py