*.ckpt
*.pth
*.pt
*.pdf
*.h5
*.png
*.jpg
*.jpeg

**/__pycache__/
**/Unrolling_comparison/
**/results/
**/DATA/
**/datasets/
**/Figures/
**/DIFFPIR/

**/main_deblurring.py
**/main_MRI.py
**/main_rician_noise.py
**/main_inpainting.py

**/plot_figures.py
**/plot_graph_mse_PSNR.py
**/sum_times.py
**/theta_graph.py
**/sum_times.py

**/download_BSDS500.py
**/extract_data.py